.box{
  width: 100px;
  height: 101px;
  background-color: orange;
  position: absolute;
  left: -100px;
}

.promo-area-left{
  position: relative;
  width: 450px;
  height: fit-content;
  display: row;
  /* display: flex; */
  
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}

.container{
  overflow: hidden;
  display: flex;
  position: relative;
  /* left: -450px; */
  /* left: -900px; */
  /* width: 900px; */
  /* width: fit-content; */
  /* width: 1800px; */
  flex-direction: row-reverse;
}

.newPromo{
  margin: 0px;
  border: 0px;
  width: 400px;
  padding: 50px;
  text-align: center;
  /* box-sizing: border-box; */
}

.oldPromo{
  margin: 0px;
  border: 0px;
  width: 400px;
  padding: 50px;
  text-align: center;
  /* box-sizing: border-box; */
}